.content h1{
    font-size: 22px;
    color: #990000;
}

.them_and_tk{
	margin-top: 12px;
}

.btn_them{
    display: inline;
}

.search_form{
	display: inline;
    float: right;
}


.txt_key{
}

.btn_submit{
	
}

.header_table{
	margin-top: 15px;
    background: #f2f2f2;
    padding: 7px 5px;
    display: inline-block;
    font-size: 14px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

table{
	border: 1px solid gray;
    font-size: 14px;
    border-collapse: collapse;
    display: table;
    text-align: center;
    width: 100%;
}

thead{
	background: #f2f2f2;
	color: #000;
}

tr{
	
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th{
	border: 1px solid #dddddd;
    padding: 8px;
    font-weight: bold;
    font-size: 13px;
}

td{
	border: 1px solid #dddddd;
    padding: 8px;
}

.phan_trang{
	border: 1px solid #9E9E9E;
    padding: 7px 20px;
    border-radius: 9px;
    text-align: center;
    width: 30%;
    margin: 15px auto;
    font-size: 14px;
}

.msg .active{
	background: #df942d;
    padding: 5px;
    text-align: center;
    border-radius: 7px;
    color: #fff;
    width: 50%;
    margin: 0 auto;
}

.span_kc{
	
}